<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/recepienew.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />

</head>

<body>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Find Recepie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <i class="fas fa-signature"></i>
                        <label for="RecepieName">Recepie Name</label>
                        <input type="text" class="form-control" id="RecepieName" placeholder="French Salad">
                    </div>

                    <div class="form-group">
                        <i class="fas fa-flag "></i>
                        <label for="exampleFormControlSelect1">Recepie Origin</label>

                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Select All</option>
                            <option>China</option>
                            <option>Italia</option>
                            <option>Serbia</option>
                            <option>England</option>
                            <option>France</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-star"></i>
                        <label for="exampleFormControlSelect2">Recepie Rating</label>
                        <input class="form-control" type="number" name="" id="" min="1" max="5">
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-green">Find</button>
            </div>
        </div>
    </div>
</div>
<header id="header" class="header  ">

    <nav class="navbar  navbar-expand-lg navbar-light bg-light w-100 d-flex justify-content-lg-between">
        <div class="navbar-brand">
            <a href="/index"> <img class="nav__logo " src="/images/logo2.png" alt=""></a>
        </div>




        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <ul class="nav__list collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <li class="nav__list-item nav-item nav-link">
                    <a class="nav__anchor-link" href="<%=log.uL%>" ><i class="fas fa-user mr-2"></i><%=log.user%></a>
                    <a class="d-none" href="/user"><i class="fas fa-user mr-2 "></i>User </a>
                </li>
                <li class="nav__list-item nav-item nav-link "><a class="nav__anchor-link"
                                                                 href="<%=log.logI%>"><%=log.logO%></a></li>
                <li class="nav__list-item nav-item nav-link active"><a class="nav__anchor-link"
                                                                       href="/index">Home</a></li>
                <li class="nav__list-item nav-item nav-link" data-toggle="modal" data-target="#exampleModal">
                    Find Recepies</li>
            </div>
        </ul>


    </nav>
</header>

<main>

    <section class="cover__image cover__image-user--recepies">
        <h1 class="cover__image-text">Your Recepies</h1>
    </section>
    <div class="container d-flex justify-content-center my-5">
        <section class="layout-login d-flex  align-items-center bg-white w-100 py-5  mb-4 flex-column">

            <article>
                <form action="/edit/update" method="post" class="form-input post__recepie" enctype="multipart/form-data">
                    <div class="form-group mt-3">
                        <label for="name">Recepie Name</label>
                        <input placeholder="French Soup" class="form-control" value="<%=dataR[0].name%>" type="text" id="name" name="name">
                        <label for="type" >Recepie Type</label>
                        <select class="form-control" id="type" name="type"  >
                            <option><b><%=dataR[0].type%></b></option>
                            <option>China</option>
                            <option>Italia</option>
                            <option>Serbia</option>
                            <option>England</option>
                            <option>France</option>
                        </select>
                        <div class="form-group mt-3">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="ingredients" rows="10" name="desc"><%=dataR[0].description%></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-lg-between">


                        <label class="btn btn-blue m-0" for="upload-photo">Upload Photo</label>
                        <button class="btn btn-green btn-submit m-0" type="submit">Post</button>

                    </div>
                    <input class="d-none" type="file" name="photos" id="upload-photo"
                           accept="image/x-png,image/gif,image/jpeg" />

                </form>
            </article>
        </section>
    </div>

</main>

<footer>
    <div class="container py-5">
        <div class="row footer-section ">
            <div class="col-12 col-lg-4 ">Contacts</div>
            <div class="col-12 col-lg-4 ">Social Media</div>
            <div class="col-12 col-lg-4 ">Join Us</div>
        </div>
        <div class="row footer-content ">
            <div class="col-12 col-lg-4 d-flex justify-content-center flex-column">

                <div class="pt-3"><i class="fas fa-envelope d-inline mr-2"></i>
                    <adress> Email:
                        admin@globalrecepies.rs</adress>
                </div>
                <div class="pt-3"><i class="fas fa-map-marker-alt d-inline pr-2"></i>
                    <adress>Address: Bulevar Nemanjica</adress>
                </div>
                <div class="pt-3"><i class="fas fa-city d-inline mr-1"></i>
                    <adress> Location: Niš, Serbia</adress>
                </div>
            </div>
            <hr class="footer-hr">
            <div class="col-12 col-lg-4">
                <a href=""><i class="fab fa-facebook mr-2 footer-links mt-3 "></i>Facebook</a><br>
                <a href=""><i class="fab fa-twitter mr-2 footer-links mt-3 "></i>Twitter</a><br>
                <a href=""><i class="fab fa-linkedin mr-2 footer-links mt-3 "></i>LinkedIn</a>
            </div>
            <hr class="footer-hr">
            <div class="col-12 col-lg-4">

                <a class="d-block mt-2" href=""> Login</a>
                <a class="d-block mt-2" href="">Register</a>
            </div>
            <hr class="footer-hr">
        </div>
    </div>
</footer>

<script src="/javascripts/index.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>